## EXAMPLE FOR ENVIRONMENT VARIABLES FOR APPLICATION ##

---- SPRING PROFILES ----
SPRING_PROFILES_ACTIVE=(switch between profiles dev,prod,test)

---- DATABASE CONFIGURATION ----
DATABASE_URL=jdbc:postgresql://localhost:5432/santasoft
DATABASE_USER=your_database_username
DATABASE_PASSWORD=your_database_password

---- CORS CONFIGURATION ----
ALLOWED_ORIGINS=http://localhost:3000,https://react-app.com,https://staging.com

---- GOOGLE CONFIG ----
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

---- JWT CONFIG ----
# JWT EXPIRATION TIME ISO 8601
# https://docs.digi.com/resources/documentation/digidocs/90001488-13/reference/r_iso_8601_duration_format.htm
JWT_EXPIRATION_TIME=30m
JWT_AUDIENCE=smartlockr-app
JWT_ISSUER=santasoft-api
JWT_SECRET_KEY= B64 512 bits (openssl rand 64 | base64 | tr '+/' '-_' | tr -d '\n')

---- REFRESHTOKEN CONFIG ----
REFRESHTOKEN_BYTE_SIZE=Integer value minimum 32
REFRESHTOKEN_EXPIRATION_TIME=7d

---- OAUTH2 REDIRECT URL ----
OAUTH_REDIRECT_URI= (Example: http://localhost:3000/home)

---- COOKIES CONFIG ----
COOKIES.SECURE=true
COOKIES.SAMESITE=(lax/strict/none) <- only one

---- BUSSINES CONFIG ----
ADMIN_EMAIL=this is the main sysadmin of the app

---- GRAPHIQL PUBLIC ACCESS ----
DEV_GRAPHIQL=true

---- MERCADOPAGO ----
MERCADOPAGO_ACCESS_TOKEN=APP_USR-12345678-1234..
MERCADOPAGO_WEBHOOK_SECRET=webhook secret from seller account (don't use your main account webhook secret, it won't work)
MERCADOPAGO_WEBHOOK_URL=for development use cmd 'ngrok http 8080' link to proxy your backend requires to be the same url in mercadopago
MERCADOPAGO_BACK_URL_SUCCESS=http://localhost:3000/payment/success
MERCADOPAGO_BACK_URL_FAILURE=http://localhost:3000/payment/failure

---- REDIS ----
SPRING_DATA_REDIS_PASSWORD=create your redis password here
REDIS_HOST=localhost or redis if using Docker
REDIS_PORT=6379