## EXAMPLE FOR ENVIRONMENT VARIABLES FOR APPLICATION ##

SPRING_PROFILES_ACTIVE=(switch between profiles dev,prod,test)
DATABASE_URL=jdbc:postgresql://localhost:5432/santasoft
DATABASE_USER=your_database_username
DATABASE_PASSWORD=your_database_password

ALLOWED_ORIGINS=http://localhost:3000,https://react-app.com,https://staging.com
